<div class="jumbotron">
	<center>
		<h1>Welcome to Jim's Donut Shop!</h1>

		<img src="http://static.parade.com/wp-content/uploads/2014/06/donut-day-facts-ftr.jpg"><br>

		<%= link_to "Check out our Donuts!", donuts_path, class: "btn btn-default" %>

	</center>

</div>


<p>This is my new feature!</p>
